<head>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Raleway" rel="stylesheet">
</head>

<style media="screen">
h1{
  font-family: 'IM Fell English SC', serif;
  text-shadow: white 10px;
  padding-left: 5%;
  padding-top: 1%;
}
body{
  background-color: #00b386;
  color: white;
}

ul img{
  background-color: #00cc99;
  border-style: outset;
  opacity: 0.9;
}
ul li{
  display: inline-block;
}
.mytech{
  width: 85%;
  margin:5% auto;
}
.container-fluid{
  margin: 0;
}
</style>
<div class ="container" style="min-height: 500px;">
  <section class="mytech">


      <nav class="navbar navbar-dark bg-dark rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#frontend" aria-controls="frontend" aria-expanded="false" aria-label="Toggle navigation">
          <span>Front End Tech</span>
        </button>
      </nav>
    <div class="row" >
      <div class="col-12 row collapse" id="frontend" style="margin-top:15px;">
        <ul ng-repeat="lang in languages" style="list-style-type: none;" >
          <li><img class="rounded-circle" ng-src="{{lang.imgpath}}" style="height:50px;width:50px;"></li>
        </ul>
      </div>
    </div>

        <nav class="navbar navbar-dark bg-dark rounded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#qatools" aria-controls="qatools" aria-expanded="false" aria-label="Toggle navigation">
            <span>QA tools</span>
          </button>
        </nav>
      <div class="row">
        <div class="col-12 row float-left collapse" id="qatools" style="margin-top:15px;">
          <ul ng-repeat="qa in qatools" style="list-style-type: none;">
            <li><img class="rounded-circle" ng-src="{{qa.imgpath}}" style="height:50px;width:50px;"></li>
          </ul>
      </div>
      </div>


        <nav class="navbar navbar-dark bg-dark rounded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#devtools" aria-controls="devtools" aria-expanded="false" aria-label="Toggle navigation">
            <span>Dev tools</span>
          </button>
        </nav>
<div class="row">
      <div class="col-12 row collapse" id="devtools" style="margin-top:15px;">
        <ul ng-repeat="dev in devtools" style="list-style-type: none;">
          <li><img class="rounded-circle" ng-src="{{dev.imgpath}}" style="height:50px;width:50px;"></li>
        </ul>
      </div>
    </div>

  </section>
</div>
