<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="controllers/routeController.js"></script>

  </head>
  <style media="screen">
  h1{
    font-family: 'IM Fell English SC', serif;
    text-shadow: white 10px;
    padding-left: 5%;
    padding-top: 1%;
  }
  body{
    background-color: #00b386;
    color: white;
  }

  </style>
  <body>
    <div class="container" style="min-height:1000px;">
    <div>

      <h4>Hmmm... Why don't we do some samples using AngularJS!</h4>

      <h6>1) Let's pull up the city Name using the 5 digit  Zip code:</h6>
      <br>
      <input ng-model="zip" placeholder="zipcode">
      <input type="password" ng-model="key" placeholder="API key">
      <button class="btn" ng-click="getWeather()">Get City</button>

      <br>
      <span>{{weatherdata.city.name + ' ' + weatherdata.city.country}}</span>
      
    </div>
</div>
  </body>
</html>
