<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="controllers/routeController.js"></script>

  </head>
  <body>
    <div class="container" >
        <nav-menu></nav-menu>
    </div>

    <div class="container" style="min-height:1000px;">
    <div class="border">

      <h4>Hmmm... Why don't we do some samples using AngularJS!</h4>

      <h6>1) Let's pull up the Weather forecast using Open weathermap API:</h6>
      <br>
      <input ng-model="zip">
      <button class="btn" ng-click="getWeather()">Get Weather</button>

      <br>
      <span>{{weatherdata.city.name + ', ' + weatherdata.city.country}}</span>
      <span>{{f_max}}</span>
    </div>
</div>
  </body>
</html>
