<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="controllers/routeController.js"></script>

  </head>
  <body>
    <div class="container" >

        <nav class="d-flex justify-content-center">
          <ul class="nav nav-pills">
            <li ><a class="btn btn-outline-primary" href="#">Home</a></li>
            <li ><a class="btn btn-outline-primary" href="#/mytech">What I know</a></li>
            <li ><a class="btn btn-outline-primary" href="#/contact">Contact me</a></li>
            <li ><a class="btn btn-outline-primary" href="#/blog" >Blog</a></li
            <li ><a class="btn btn-outline-primary" href="#/utility" >Utilities</a></li>
          </ul>
        </nav>
        <hr>
    </div>

    <div class="container shadow" style="min-height:1000px;">
    <div class="container border">

      <h4>Hmmm... Why don't we do some samples using AngularJS!</h4>

      <h6>1) Let's pull up the Weather forecast using Open weathermap API:</h6>
      <br>
      <input ng-model="zip">
      <button class="btn" ng-click="getWeather()">Get Weather</button>
      
      <br>
      <span>{{weatherdata.city.name + ', ' + weatherdata.city.country}}</span>
      <span>{{f_max}}</span>
    </div>
</div>
  </body>
</html>
